.diagnosis-list {
  display: flex;
  flex-direction: column;
  .adaptive-gap(0.75vh, 0.75w);
}

.diagnosis {
  display: flex;
  flex-direction: column;

  &__label {
    .adaptive-font-size(0.8vh, 0.8vw);
    font-weight: 600;
    line-height: 0;
  }

  &__info {
    .adaptive-font-size(0.8vh, 0.8vw);
    color: @darkGray;
    line-height: 0;
  }
}