.form {
  background: @lightGray;
  padding: 5px 10px;

  &__title {

  }

  &__input-fields {
    display: flex;
    flex-direction: column;
    gap: 6px
  }

  &__button {
    width: 100%;
    border: none;
    color: @darkGray;
    cursor: pointer;
  }
}