.header {
  display: flex;
  background: @darkSea;
  .adaptive-height(4vh, 4vw);

  &__img {
    scale: 0.65;

    background: url("@{img}scull.png") center no-repeat;
    background-size: contain;
  }

  &__button {
    .adaptive-font-size(1vh, 1vw);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    & + & {
      margin-left: calc((1vh + 1vw) / 2);
    }
  }
}
