.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  .adaptive-gap(1vh, 1vw);

  &__button {
    .adaptive-padding(0.5vh, 0.5vw, 0.21vw);
    .adaptive-font-size(1vh, 1vw);
    text-decoration: none;
    border: 0.15vh solid #ddd;
    color: black;
    .adaptive-border-radius(0.25vh, 0.25vw);
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      border: 0.15vh solid @tuftsBlue;
      color: @tuftsBlue;
    }

    &:hover {
      background-color: @lightGray;
    }

    &.disabled {
      color: @gray;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}

.pagination button:hover {
  background-color: #ddd;
}