.styled-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: white;
  .adaptive-font-size(1.2vh, 1.2vw);
  cursor: default;
}

.styled-text strong {
  .adaptive-font-size(1.4vh, 1.4vw);
  font-weight: bold;
}