@import "vars";

body {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.main-content {
  display: flex;
  align-items: center;
  height: fit-content;
  flex-direction: column;
  flex: 1;
}

.hidden {
  display: none;
}

@import "blocks/form";
@import "blocks/inputField";
@import "blocks/grid";
@import "blocks/header";
@import "blocks/selectDropdown";
@import "blocks/pagination";
@import "blocks/filters";
@import "blocks/statistic";
@import "blocks/img";
@import "blocks/patient";
@import "blocks/texts";
@import "blocks/container";
@import "adaptiveSize";
@import "blocks/inspection";
@import "blocks/switch";
@import "blocks/creator";
@import "blocks/fullInspection";
@import "blocks/diagnosis";

